
@{
    ViewBag.Title = "study";
}

<h2>Educational background</h2>
<br />
<h3>School</h3>
<ul type="none">
    <li>Lalpur High School</li>
</ul>
<br />

<h3>College</h3>
<ul type="none">
    <li>Bogura Cantonment Public High School & College</li>
</ul>
<br />

<h3>University</h3>
<ul type="none">
    <li>American International University-Bangladesh</li>
</ul>

