
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h3>My name is SHOBHAN KUMAR SAHA</h3>
<h3>19-40911-2</h3>
<br />

<ol>
    
    <li><a href="/Education/study">Education Background</a></li>
    <li><a href="/work/Projects">Project</a></li>
    <li><a href="/refrence/refrencerr">Reference</a></li>
</ol>